.balance-sheet--title {
    text-align: center;
    color:  var(--primary);
}

.btn-add-assets, .btn-add-passives {
    float: left;
}

table .td_icon {
    min-width: 60px;
}

.btn-savings, .btn-admin-shares, .btn-admin-propety, .btn-pay, .btn-pay-loan, .space-mortgage {
    min-width: 60px;
    text-align: center;
    color: var(--dark);
}

.btn-add-passives, .btn-add-assets {
    width: 100%;
    margin-bottom: 10px;
    color: var(--warning);
    border: solid 1px var(--warning); 
}

.btn-add-passives:hover {
    color: var(--white);
    background-color: var(--warning);
}

.btn-add-assets {
    color: var(--info);
    border: solid 1px var(--info); 
}

.btn-add-assets:hover {
    color: var(--white);
    background-color: var(--info);
}